html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background-color: #004d40;
}
#root {
  display: flex;
}

.str-chat__channel-list {
  width: 30%;
}
.str-chat__channel {
  width: 100%;
}
.str-chat__thread {
  width: 45%;
}
.str-chat__theme-dark {
  --str-chat__primary-color: #26a69a;
  --str-chat__active-primary-color: #00796b;
  --str-chat__surface-color: #424242;
  --str-chat__secondary-surface-color: #212121;
  --str-chat__primary-surface-color: #00695c;
  --str-chat__primary-surface-color-low-emphasis: #004d40;
  --str-chat__avatar-background-color: #ff7043;
}

.str-chat__message-text{
  color: red;
  

}
.str-chat__channel-header-title{
  color: white;
}
.str-chat__message-bubble{
  background-color: #4c46ff!important;
}
.str-chat__message-text-inner.str-chat__message-simple-text-inner > div > p{
  color: white!important;
}
.str-chat__virtual-list{
  /* background-color: ; */
  padding-top:6px ;
}
